<h2>{{ appSettings.title }}</h2>
<br />
Filter:
<input type="text" ng-model="customerFilter.name" class="repeat-animation" />
<br /><br />
<table class="table table-striped table-dark">
	<tr class="table-dark">
		<th ng-click="doSort('name')">Name</th>
		<th ng-click="doSort('city')">City</th>
		<th ng-click="doSort('orderTotal')">Order Total</th>
		<th ng-click="doSort('joined')">Joined</th>
		<th>Orders</th>
		<th>&nbsp;</th>
	</tr>
	<tr
		ng-repeat="cust in customers | filter:customerFilter | orderBy:sortBy:reverse"
		class="repeat-animation"
	>
		<td>{{ cust.name }}</td>
		<td>{{ cust.city }}</td>
		<td>{{ cust.orderTotal | currency }}</td>
		<td>{{ cust.joined | date }}</td>
		<td>
			<a class="link-info" href="#/orders/{{ cust.id }}">View Orders</a>
		</td>
		<td class="center">
			<i class="bi-alarm"></i>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="20"
				height="20"
				fill="currentColor"
				class="bi bi-x-square delete"
				viewBox="0 0 16 16"
				ng-click="deleteCustomer(cust.id)"
			>
				<path
					d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"
				/>
				<path
					d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
				/>
			</svg>
			<span ng-click="deleteCustomer(cust.id)"></span>
		</td>
	</tr>
</table>
<br />
<span>Total customers: {{ customers.length }}</span>
<br /><br />
<footer>Version: {{ appSettings.version }}</footer>
